path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: sans-serif;
  pointer-events: none;
}

.button {
    fill: grey; /* Green */
    border: 10xp;
    stroke-width: 10xp;
}

.button-text {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container_graph {
    float: right;
}

.container_buttons {
    float: left;
}