path.link {
  fill: none;
/*  stroke: #666;*/
  stroke: darkgrey;
  stroke-width: 2.5px;
}

circle {
/*  fill: #ccc;*/
  fill: darkgreen;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: sans-serif;
  pointer-events: none;
}

.container_graph {
    float: right;
}

.container_buttons {
    float: left;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
  z-index: 0;
}